*
{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
.header-section
{
height: 100vh;
background: linear-gradient(-45deg, #ee7752, #0c0508,#004836, #23d5ab);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.navbar
{
  position: absolute;
  z-index: 10;
}

.nav-link
{
  margin: 0 3rem 0 6rem;
}
.img:nth-child(1)
{
  position: absolute;
  top: 70px;
  left: 100px;
  width: 500px;
  animation: ui1 10s infinite ;
}
@keyframes ui1 {
  0%
  {
    transform:rotate(0);
  }
  10%
  {
    transform: skewx(2deg) rotate(3deg);
  }
  30%
  {
    transform: skewX(2deg)rotate(3deg);

  }
  90%
  {
    transform: skewx(-5deg)rotate(-4deg);

  }
  100%
  {
    transform: rotate(0);

  }
}



.img:nth-child(2)
{
  position: absolute;
  top: 70px;
  left: 100px;
  width: 500px;
  animation: ui2 10s infinite ;
}

@keyframes ui2 {
  0%
  {
    transform: translate3d(0,0,0);
  }
  10%
  {
    transform: translate3d(40px,-10px,0);
  }
  30%
  {
    transform: translate3d(60px,-10px,0px);

  }
  90%
  {
    transform: translate3d(60px,10px,0px);

  }
  100%
  {
    transform: translate3d(0px,0px,0px);


  }
}
.img:nth-child(3)
{
  position: absolute;
  top: 70px;
  left: 100px;
  width: 500px;
  animation: ui3 10s infinite ;
}
@keyframes ui3 {
  0%
  {
    transform: translate3d(0,0,0);
  }
  10%
  {
    transform: translate3d(80px,-20px,0);
  }
  30%
  {
    transform: translate3d(100px,-20px,0px);

  }
  90%
  {
    transform: translate3d(100px,20px,0px);

  }
  100%
  {
    transform: translate3d(0px,0px,0px);

  }
}
.img:nth-child(4)
{
  position: absolute;
  top: 70px;
  left: 100px;
  width: 500px;
  animation: ui4 10s infinite  ;
}
@keyframes ui4 {
  0%
  {
    transform: translate3d(0,0,0);
  }
  10%
  {
    transform: translate3d(120px,-30px,0);
  }
  30%
  {
    transform: translate3d(140px,-30px,0px);

  }
  90%
  {
    transform: translate3d(140px,30px,0px);

  }
  100%
  {
    transform: translate3d(0px,0px,0px);

  }
}
.img:nth-child(5)
{
  position: absolute;
  top: 70px;
  left: 100px;
  width: 500px;
  animation: ui5 10s infinite  ;
}
@keyframes ui5 {
  0%
  {
    transform: translate3d(0,0,0);
  }
  10%
  {
    transform: translate3d(160px,-40px,0);
  }
  30%
  {
    transform: translate3d(180px,-40px,0px);

  }
  90%
  {
    transform: translate3d(180px,40px,0px);

  }
  100%
  {
    transform: translate3d(0px,0px,0px);

  }
}
.img:nth-child(6)
{
  position: absolute;
  top: 70px;
  left: 100px;
  width: 500px;
  animation: ui6 10s  infinite ;
}
@keyframes ui6 {
  0%
  {
    transform: translate3d(0,0,0);
  }
  10%
  {
    transform: translate3d(200px,-50px,0);
  }
  30%
  {
    transform: translate3d(220px,-50px,0px);

  }
  90%
  {
    transform: translate3d(220px,50px,0px);

  }
  100%
  {
    transform: translate3d(0px,0px,0px);

  }
}

.image2{
  position: absolute;
  top: 70px;
  left: 100px;
  width: 500px;
}

.line
{
  content:'';
  width: 660px;
  border: 1px solid white;
  position: absolute;
  top: 280px;
  right: 0px;
  animation: line 10s  infinite;
}

@keyframes line {
  0%{
    position: absolute;
    right:-660px;
  }
  50%{
    position: absolute;
    right:0px;
  }
  100%{
    position: absolute;
    right:-660px;
  }
}

.uhd{
  position: absolute;
  top: 230px;
  font-size: 40px;
  right: 200px;
  color: white;
  animation: uhd 10s  infinite 1s;
  opacity: 0;
}

@keyframes uhd {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
  opacity: 0;
  }
}

.pretty{
  position: absolute;
  top: 520px;
  font-size: 100px;
  left: 120px;
  color: white;
  z-index: 10;
  font-weight: 400;
  font-family: 'arial'
}

.iMac{
  position: absolute;
  top: 320px; font-size: 70px;
  right: 200px;  color: white;
  z-index: 10;
  font-weight: 400;
  font-family: 'arial'
}

.button1
{
  position: absolute;
  top: 420px; right: 180px;
  background-color: transparent;
  border: 1px solid white;
  font-size: 30px;
  color: white; height: 50px;
  padding: 0 10px 0 10px;
  border-radius: 50px;
  transition: .3s;
}

button:focus
{
  outline:none;
}

button:hover
{
  transform: scale(1.2);
  font-size: 20px;
}
